<div class="container">
  <a class="btn btn-default" href="/arrangements/new">new arrangement</a>
  <br>
  <h3>Arrangements</h3>
  <table class="table">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>instrumentation</th>
      <th>originalArtist</th>
      <th>description</th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(arrangements, function(arrangement) { %>
    <tr data-id="<%= arrangement.id %>" data-model="arrangement">
      <td><%= arrangement.id %></td>
      <td><%= arrangement.title %></td>
      <td><%= arrangement.instrumentation %></td>
      <td><%= arrangement.originalArtist %></td>
      <td><%= arrangement.description %></td>
      <td><a href="/arrangements/edit/<%= arrangement.id %>" class="btn btn-primary">edit</a></td>
      <td><form action="/arrangements/destroy/<%= arrangement.id %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" class="btn btn-danger" value="delete" />
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form></td>
    </tr>

    <% }) %>
  </table>
</div>
