<div class="container">
  <form enctype="multipart/form-data" action="/arrangements/update/<%= arrangement.id %>" method="POST" class="form-file">
    <h2 class="form-file-heading">edit arrangement</h2>

    <% if(flash && flash.err) { %>
      <ul class="alert alert-success" style="list-style: none">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- flash.err[error].message %></li>
    <% }) %>
  </ul>
  <% } %>

    <input value="<%= arrangement.title %>" type="text" class="form-control" name="title">
    <input value="<%= arrangement.instrumentation %>" type="text" class="form-control" name="instrumentation">
    <input value="<%= arrangement.originalArtist %>" type="text" class="form-control" name="originalArtist">
    <textarea name="description" rows="10" style="width:100%"><%= arrangement.description %></textarea>

    <input type="submit" class="btn btn-default" value="save"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
