<div class="container home">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="jumbotron name">
        <h1>Ryan Rose</h1>
        <p>musician, arranger, developer</p>
        <a href="/followers/new" class="btn btn-default">follow Ryan</a>
        <p class="homeEmail">rytrose@gmail.com</p>    
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="musician">
        <h2><a href="/performances">musician</a></h2>
        <% for(var i = 0; i < pers.length; i++) { %>
          <% if(pers[i].name === 'Collin Kemeny, Concerto for Alto Saxophone') { %>
            <% var performance = pers[i]; %>
            <hr>
            <p><%= performance.name %> | <%= performance.date %></p>
            <iframe width="448" height="252" src="<%= performance.link %>" frameborder="0" allowfullscreen></iframe>
          <% } %>
        <% } %>
      </div>
    </div>
    
    <div class="col-md-4 text-center">
      <div class="arranger">
        <h2><a href="/arrangements">arranger</a></h2>
        <hr>
        <div class="grid-arr">
          <% for(var i = 0; i < arrThumbs.length; i++) { %>
            <% for(var j = 0; j < arrs.length; j++) { %>
              <% if((arrs[j].title === "She's So High" || arrs[j].title === 'Shark in the Water') && (arrs[j].title + '.jpg' === arrThumbs[i].filename)) { %>
                <a class="grid-item-arr homeArr" href="/arrangements/show/<%= arrs[j].id %>">
                  <div class="overlay">
                      <p class="homeP">
                        <%= arrs[j].title %>
                        <br>
                        by <%= arrs[j].originalArtist %>
                        <br>
                        <br>
                        <%= arrs[j].instrumentation %>
                      </p>
                    </div>
                  <img src="https://s3.amazonaws.com/rytrose-personal-website/<%= arrThumbs[i].fd %>" >
                </a>
              <% } %>
          <% } %>
        <% } %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="developer">
        <h2 class="text-center"><a href="/projects">developer</a></h2>
        <hr>
        <div class="devRow">
          <div class="col-xs-7">
            <ul class="langs">
              <li>javascript (ES 6)</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>python</li>
              <li>ruby</li>
              <li>java</li>
              <li>VB.NET</li>
              <li>SQL</li>
              <li>arduino</li>
              <li>android</li>
              <li>max/msp</li>
              <li>supercollider</li>
            </ul>
          </div>
          <div class="col-xs-4 text-center">
            <a href="https://github.com/rytrose" target="_blank"><img height="100" width="100" src="https://s3.amazonaws.com/rytrose-personal-website/github.png"></a>
            <a href="/projects" class="btn btn-default projButton">projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/dependencies/jquery-3.1.1.min.js"></script>
  <script>
    $(function() {
    
    	// Find all YouTube videos
    	var $allVideos = $("iframe[src^='https://www.youtube.com']"),
    
    	    // The element that is fluid width
    	    $fluidEl = $(".musician");
    
    	// Figure out and save aspect ratio for each video
    	$allVideos.each(function() {
    
    		$(this)
    			.data('aspectRatio', this.height / this.width)
    			
    			// and remove the hard coded width/height
    			.removeAttr('height')
    			.removeAttr('width');
    
    	});
    
    	// When the window is resized
    	// (You'll probably want to debounce this)
    	$(window).resize(function() {
    
    		var newWidth = $fluidEl.width();
    		
    		// Resize all videos according to their own aspect ratio
    		$allVideos.each(function() {
    
    			var $el = $(this);
    			$el
    				.width(newWidth)
    				.height(newWidth * $el.data('aspectRatio'));
    
    		});
    
    	// Kick off one resize to fix all videos on page load
    	}).resize();
    
    });
  </script>
</div>